body {
    background-color: #000;
    color: #FFF;
    font-family: Georgia, serif;
    padding: 0px;
    margin: 0px;
    background-image: url(../images/tile15.png);
}

h1 {
    border: 1px solid #000;
    background-color: #222;
    color: #EEE;
    padding: 5px 20px;
}

div#header{
    background-color: white;
    background-image: url(../images/logo800.gif);
    background-position: top center;
    padding-top: 175px;
    background-repeat: no-repeat;
}

ul.navigation{
    list-style: none;
    padding: 0px;
    margin: 0px;
    background-color: black;
}

ul.navigation li{
    display: inline;
    margin: 0px;
    padding: 0px;
}

ul.navigation a{
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0px;
}

ul.navigation a:hover{
    background-color: #DC313A;
    color: black;
}

ul.navigation a.active{
    background-color: #274467;
    color: white;
}

div#slideshow{
    position: absolute;
    left: 0px;
}

div#content{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 270px;
}

.slideshow div#content{
    margin-left: 300px;
}

a{
    color: #7794A7;
}

/*div#content img{
    border: 4px solid white;
}*/

img.right{
    float: right;
    margin-left: 15px;
}

img.left{
    float: left;
    margin-right: 15px;
}

div.gallery{
    border: 1px solid #888;
    padding: 0px;
    clear: both;
}

div.gallery h3{
    margin: 0px;
    background-color: #274467;
    color: white;
    padding: 5px 20px;
}

div.gallery_photo{
    vertical-align: top;
    float: left;
    background-color: white;
    padding: 5px;
    width: 210px;
    margin: 10px;
}

.gallery_photo img{
    display: block;
    margin: auto;
    border: 4px solid white;
}

.gallery_photo span.caption{
    display: block;
    text-decoration: none;
    padding: 0px 5px;
}

.gallery_photo a{
    text-decoration: none;
}

#overlay{
    position: fixed; 
    bottom: 0px;
    right: 0px; 
    z-index: -1;
}